.header {
    color: #B6706E;
    font-family: Arial Black;
    font-size: 6px;
    font-weight: 900;
    line-height: 85px;
    letter-spacing: 0em;
    margin: 0;
  }
.navi-bar{
    width: 100%;
    background: #784E5E;
}
.navi-font{
    font-size: medium;
    color: #C3A78B;
}

.navi-font:hover {
    color: #195789;
}

.space{
    align-items: center;
}

