@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

body {
  background-color: rgba(195, 167, 139, 0.11);
  
}

.footer {
  margin-top: 80px;
  bottom: 0;
}

.home-bg .manual-font {
    font-family: 'Manuale', serif;
  }

  .home-bg button {
    margin-right: 10px;
    padding: 10px 20px;

  }


  .carousel-control-next-icon {
    background-image: url("./assests/VectorR.svg") !important;
    width: 5rem !important;
    height: 3rem !important;
  }
  
  .carousel-control-prev-icon {
    background-image: url("./assests/VectorL.svg") !important;
    width: 5rem !important;
    height: 3rem !important;
  }
  
  .destination-flex {
    display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the height of the body to 100% of the viewport height */
  margin: 0;
  }
  
  .destination-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px; /* Adjust the maximum width of the form container as needed */
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Adjust the width of the input boxes */
  input {
    width: 100%; 
  }